@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'roboto', arial, sans-serif;
}
h1 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	color: #61dafb;
}
h1 img {
	height: 50px;
	animation: rotate 3s linear infinite;
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}